<% provide(:title, "About") %>
<div id="about_container">
	<div class="row">
		<div class="medium-12 columns">
			<h1>About</h1>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum ex in ante facilisis consectetur. Ut justo nulla, dignissim sed lectus quis, placerat vulputate justo. Quisque feugiat consectetur turpis et scelerisque. Pellentesque aliquam bibendum nulla sit amet ornare. Aenean semper neque lorem, a accumsan elit iaculis sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Donec venenatis ut lectus sit amet ornare. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus eget sapien nec eros laoreet scelerisque id ut turpis.

			Suspendisse potenti. Nulla sit amet pretium enim, in tincidunt nisi. Suspendisse semper tortor vitae orci feugiat commodo. Mauris efficitur semper ligula, quis cursus ipsum vehicula sit amet. Nulla viverra aliquet magna, eget viverra quam. Sed faucibus semper iaculis. Integer lacinia ultricies lobortis. Sed id erat nec orci dictum sagittis quis a felis.

			Nullam interdum congue ornare. Donec pulvinar tellus sem, vel commodo ante semper vitae. Nulla et ante elementum, mattis massa et, dignissim ligula. Fusce ac molestie augue. Aenean sed magna velit. Donec non dui pretium, vulputate ante vitae, tristique ligula. Integer enim risus, sagittis vitae urna id, cursus aliquam metus. Donec velit libero, tincidunt non iaculis non, finibus a lacus. Ut at leo eleifend, fringilla augue a, dictum sapien. Sed lacinia nisi lectus, tempus semper lorem suscipit sit amet.</p>
		</div>
	</div>
</div>