<div id="home_container">
	<div class="container_inside">
		<div class="row">
			<div class="medium-12 columns">
				<h1>Pluto</h1>
			</div>
		</div>

		<div class="row">
			<div class="medium-12">
				<h2>This is a Portfolio template</h2>
			</div>
		</div>
	</div>
</div>


