<div id="home_container">
	<div class="container_inside">
		<div class="row">
			<div class="medium-12 columns">
				<h1>Home</h1>
			</div>
		</div>

		<div class="row">
			<div class="medium-12">
				<p>This is a Portfolio template</p>
			</div>
		</div>
	</div>
</div>


