<div id="thx_container">
	<div class="row">
		<div class="medium-12 columns">
			<h1>Thank you for your message.</h1>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			<p>We'll get back to you soon.</p>
		</div>
	</div>

</div>