/* mixin, variables, etc... */

@mixin centering {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
	small {
		text-align: center;
	}
}