/* mixin, variables, etc... */

@mixin vertical_align {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin bg_size_cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$color_red: #b62020;


/* general */

.float_right {
	float: right;
}

.float_left {
	float: left;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-left: 20px;
	font-size: 1.5em;
	color: #111111;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
	&:hover {
		color: $color_red;
		text-decoration: none;
	}
}

/* footer */

footer {
	color: #777;
	height: 5em;
	line-height: -2em;
	background-color: white;
	@include vertical_align;
}

/* home */

#home_container {
	background: url(pluto.png) no-repeat center center fixed;	
	@include bg_size_cover;
	height: 100vh;
	width: 95vw;
	margin: auto;
	@include vertical_align;
	h1{
		font-weight: bold;
		font-size: 5em;
	}
	h2 {font-size: 3em;}
}

/* about */

#about_container {
	p {
		margin-top: 2em;
		text-align: justify;
		text-justify: inter-word;
	}
}

/* contact us */

#contact_container {
	h1 {
		margin-top: 1em;
		margin-bottom: 1.5em;
	}
}

#thx_container {
	p{text-align: center;}
}

#flash_container {
	margin-top: 3em;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	text-align: center;
	background-color: #dff0d8;
	@include box_sizing;
}